* {
    margin:0;
    padding:0;
}

#content {
    //silence
}

.results {
    width:100%;

    .result {
        width:80%;
        margin:auto;
        padding:12px;

        p {
            padding:12px;
        }
    }
}